__pycache__
*.so
build
.coverage_*
*.egg-info
*~
.vscode/
.idea/
.DS_Store

/private/
# Sphinx documentation
docs/_build/
docs/build/
docs/**/*.mo
.vscode
.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.venv/